*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* navbar styling starts here */
.navbar{
    width:100%;
    height: 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:red;
    padding: 0 5rem;
    font-size:1.8rem;
}
.navbar .social{
    display:flex;
    gap:1rem;
}
 
/* navbar styleing ends here */


/* hero section styling starts here */
.hero img {
    position: absolute;
}
.hero .herotext{
    height:auto;
    width: 400px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    align-items:flex-start;
    margin: auto 0;
    margin-left:5rem;
    position:absolute;
    gap:2rem;
}
.hero .herotext .text{
    width:auto;
    height:auto;
    flex-direction:column;
    display:flex;
    gap:2rem;
}
.hero .herotext .text h1{
    font-size:6rem;
    color:
}
